<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HuntAndPeck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <HuntAndPeck.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FontBackroundColor" serializeAs="String">
                <value>#FFFAD500</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="KbdShortWin" serializeAs="String">
                <value>Alt+Oem1</value>
            </setting>
            <setting name="KbdShortTray" serializeAs="String">
                <value>Ctrl+Oem1</value>
            </setting>
        </HuntAndPeck.Properties.Settings>
    </userSettings>
</configuration>